#searchboxes
{
	margin-top:2%;
}

#searchboxes a
{
	color:black;
}

img
{
  margin-top:5%;
  display: block;
  width: 200px;
  height: auto;
}

#leftcolumn 
{
	padding-left:50px;
	margin-top:8%;	
}

.content ul
{
	font-size:150%;
	list-style-type: none;	
}
.content a
{
	color:black;
}

.homecontent ul
{
	list-style-type:none;
}
.homecontent .dropdown-content
{
	margin-left:50px;
}
.homecontent .nav-item
{
	margin-bottom:10px;
}
.homecontent a
{
	color:black;
}
.favheading
{
		margin-top:20px;
}

.favcontent .snimka
{
	margin-left:450px;
}
.favcontent .opisanie
{
	margin-right:550px;
}

.favcontent p
{
	font-size:20px;
	white-space:nowrap;
}
.favcontent .ime
{
	margin-top:40px;
}
.favcontent .cena,
.favcontent .grad
{
	margin-top:20px;
}
.favcontent a
{
	color:black;
}
.pptext
{
	padding-top:20px;
	margin-bottom:-50px;
}
.ppsnimka
{
	margin-left:300px;
	width:auto;
	height:auto;
}
.savedsearchescontent .col
{
	margin-top:10px;
	margin-left:50px;
	font-size:20px;
}
.savedsearchescontent a
{
	color:black;
}
.savedsearchescontent .row
{
	margin-top:10px;
}


.adcontent a
{
	color:black;
}
.adcontent .backtosearch
{
	margin-top:2%;
	margin-left:2%;
}
.adcontent .image
{
	margin-left:300px;
	margin-top:2%;
}
.adcontent .rightcol
{
	margin-top:2%;
}

.adcontent .undercol
{
	margin-left:350px;
}
.adcontent .evaltext
{
	padding-left:100px;
}
.adcontent .commtext
{
	padding-left:100px;
}
.adcontent .commentsarea textarea
{
	width:543px;
	height:180px;
}


.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}