body
{
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
	background-size:cover;
    background-attachment: fixed;
}
.navbar .container img
{
	width:40px;
	height:auto;
	margin-right:0.5%;
}

img
{
  width: 200px;
  height: auto;
  display:block;
}

.favheading
{
		margin-top:1%;
}

.favcontent .adbox > div
{
	display:inline-block;
}
.favcontent .adbox
{
	background:rgba(244, 191, 66, 0.7);
	max-width:50%;
	border: solid 1px;
	border-radius:3%;
	margin-top:1%;
}
.favcontent .part
{
	width:200px;
	
}

.favcontent p
{
	font-size:20px;
}
.favcontent .ime
{
	margin-top:10%;
}

.favcontent button
{
	margin-bottom:1%;
}
.favcontent a
{
	color:black;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

