@media only screen and (max-width: 768px) {
    span {
        display:block;
		width:200%;
    }
	.homecontent .adbox > div
	{
		display:block;
	}
	
}

body
{
	background-image: url("../background.jpg");
	background-repeat: no-repeat;
    background-attachment: fixed;
}

.navbar .container img
{
	width:40px;
	height:auto;
	margin-right:0.5%;
}

#searchboxes .text-left
{
	padding-right:2%;
}

#searchboxes a
{
	color:black;
}
.vehiclenav
{
	margin-top:1%;
	margin-left:2%;
}
img
{
  width: 200px;
  height: auto;
}

.content ul
{
	font-size:150%;
	list-style-type: none;	
}
.content a
{
	color:black;
}

.homecontent ul
{
	list-style-type:none;
}
.homecontent .mostviewed
{
	margin-top:1%;
	margin-bottom:1%;
}
.homecontent .adbox > div
{
	display:inline-block;
}
.homecontent .adbox
{
	background:white;
	opacity:0.9;
	max-width:32%;
	border: solid 1px;
	border-radius:3%;
}
.homecontent .part
{
	width:200px;
}

.homecontent a
{
	color:black;
	float:left;
}
.homecontent span
{
	font-size: 20px;
    font-weight: bold;
	position: relative;
    top: -70px;
}
.homecontent .mostviewed2row
{
	margin-bottom:2%;
	margin-top:2%;
}
.homecontent .newadsrow
{
	margin-top:1%;
	margin-bottom:2%;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}